html
{ background: #c8c8c8; }
body
{ margin: 0 15%; font: 0.96em sans-serif; color: #333; }
a
{ color: #01778c; }
a:visited
{ text-decoration: none; }
a:hover
{ color: #f5960f; }
h1, .more a
{ font-family: "Minion Pro", Minion, Georgia, serif; font-weight: normal; }
h1
{ line-height: 50px; background: url(reel.gif) no-repeat left; padding-left: 100px; font-size: 2.5em; }
.more a
{ font-size: 2em; display: block; }
.more
{ background: #fff url(tip.png) no-repeat right; padding: 10px 10px; margin: 2em -10px; }
xmp, em
{ background: #494949; color: #fff; font: 0.75em Monaco, courier; }
xmp
{ line-height: 1.4em; padding: 4px 10px; margin: 2em 0; }
.jquery-reel
{ border: 20px solid #fff; margin: 2em 0; }
em
{ padding: 0 10px; }
.foot
{ font-size: 1.1em; padding: 10px 0 20px 0; }
